#canvas {
    position: relative;
    width: 100%;
    height: calc(80% - 5rem);
    min-height: 300px;
    background-color: #ddf;
}
/* === Bike === */
#bike {
    width: 60px;
    height: 150px;
    position: absolute;
    bottom: 0px;
    left: calc(50% - 30px);
}
.wheel {
	border: 1px solid #000;
	width: 100px;
	height: 100px;
	border-radius: 50%;
    position: absolute;
    bottom: 0;
}
.wheel.left {
	left: -100px;
}
.wheel.right {
	left: 100px;
}
#steer {
	border: 1px solid #000;
	width: 100px;
	height: 1px;
	position: absolute;
	left: 95px;
	bottom: 100px;
	transform: rotateZ(80deg);
}
#steer::before {
	content: "";
	display: block;
	width: 50px;
	border: 1px solid #000;
	transform: rotateZ(24deg);
	position: absolute;
	top: 0px;
	left: -25px;
}
#saddle {
	position: absolute;
	border: 2px solid #000;
	width: 30px;
	bottom: 145px;
	left: 15px;
	height: 0;
	transform: rotateZ(-5deg);
}
#saddle::before {
	content: "";
	display: block;
	width: 100px;
	border: 1px solid #000;
	transform: rotateZ(90deg);
	position: absolute;
	top: 50px;
	left: -40px;
	height: 1px;
}
#frame-front {
	position: absolute;
	width: 110px;
	border: 1px solid #000;
	bottom: 100px;
	left: 35px;
	transform: rotateZ(-5deg);
	height: 1px;
}
#frame-back {
	position: absolute;
	width: 95px;
	border: 1px solid #000;
	bottom: 80px;
	left: -58px;
	transform: rotateZ(-35deg);
	height: 1px;
}
#frame-back::after {
	content: "";
	position: absolute;
	display: block;
	border: 1px solid #000;
	width: 82px;
	transform: rotateZ(35deg);
	top: 23px;
	left: -7px;
	height: 1px;
}
#pedals {
	position: absolute;
	width: 60px;
	border: 1px solid #000;
	height: 1px;
	bottom: 50px;
	transform: rotateZ(-45deg);
	left: 5px;
}
#pedals::before {
	content: "";
	position: absolute;
	width: 20px;
	border: 2px solid #000;
	transform: rotateZ(85deg);
	top: 0px;
	left: -11px;
}
#pedals::after {
	content: "";
	position: absolute;
	width: 20px;
	border: 2px solid #000;
	transform: rotateZ(45deg);
	top: -0px;
	left: 50px;
}
/* === End Bike === */
/* === Cat === */
#cat {
    width: 60px;
    height: 210px;
    position: absolute;
    bottom: 120px;
    left: calc(50% - 40px);
}
#head {
    width: 100px;
    height: 100px;
    border: 3px solid #000;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
#body {
    width: 100px;
    height: 100px;
    background-color: #000;
    border-radius: 40%;
    position: absolute;
    top: 90px;
    left: 0;
}
.ear {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #000;
    position: absolute;
    top: -12px;
    left: 0;
    transform: rotate(-30deg);
}
.ear.right {
    right: 0;
    left: auto;
    transform: rotate(30deg);
}
.eye {
    width: 20px;
    height: 10px;
    background-color: greenyellow;
    border-radius: 40%;
    position: absolute;
    top: 25px;
    left: 25px;
    border: 2px solid green;
    background: repeating-radial-gradient(yellow, green);
}
.eye.right {
    right: 25px;
    left: auto;
}
.eye::after {
    content: "";
    display: block;
    width: 4px;
    height: 8px;
    background-color: #050;
    top: calc(50% - 4px);
    left: calc(50% - 2px);
    position: absolute;
    border-radius: 40%;
}
.nose {
    width: 15px;
    height: 15px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: calc(50% - 8px);
}
.mouth {
    width: 4px;
    height: 15px;
    background-color: #000;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 2px);
}
.hair {
    width: 130px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: calc(50% + 5px);
    left: -15px;
}
.hair.left.top {
    transform: rotate(10deg);
}
.hair.left.bottom {
    transform: rotate(-10deg);
}
/* === End Cat === */

/* === Movements === */
#bike {
    animation: bump 2s, rotate 2s ease 1s;
    animation-iteration-count: infinite;
}
#cat {
    animation: rotate 2s ease 1s;
    animation-iteration-count: infinite;
}
@keyframes bump {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 10px;
    }
    100% {
        bottom: 0px;
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(1deg)
    }
    80% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(1deg);
    }
}
/* === End Movements === */
